
.title {
    text-align: center;
    font-family: "roboto";
    font-weight: 400;
}

.tableheader {
    font-weight: bold;
}

#add-button {
    float: right;
}

#modal-error {
    float: left;
    color: red;
}

.finish-part {
    color: green;
}

.total{
    border-collapse: separate;
    border-top: 2px solid black;
}

.progress {
    height: 15px;   
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}
.container {
    -moz-box-shadow: 0 0 3px black;
    -webkit-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
}